export(extract_xic)
export(extract_ms2)
importFrom(MSnbase,readMSData)
importFrom(MSnbase,filterMsLevel)
importFrom(MSnbase,chromatogram)
importFrom(MSnbase,rtime)
importFrom(MSnbase,intensity)
importFrom(MSnbase,precursorMz)
importFrom(MSnbase,mz)
